<div class="container ">

  <form class="row g-3">
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label" >Email</label>
      <input type="email" class="form-control" [(ngModel)]="selectedUsuario.email" name="email" required >
    </div>
    <div class="col-md-6">
      <label for="inputState" class="form-label">Edad</label>
      <select id="inputState" class="form-select" [(ngModel)]="selectedUsuario.edad" name="edad"required>
        <option value="19">Entre 18 y 25 años</option>
        <option value="28">Entre 26 y 33 años</option>
        <option value="35">Entre 34 y 40 años</option>
        <option value="50">Mas de 40 años</option>
      </select>
    </div>

      <label for="form-label">Ingrese el tiempo que le dedica a cada red social en el dia</label>
        <div class="col-md-2">
          <label for="inputAddress" class="form-label"></label>
          <input type="text" class="form-control" [(ngModel)]="selectedUsuario.fb" name="fb" placeholder="Facebook"required>
        </div>
        <div class="col-md-2">
          <label for="inputAddress" class="form-label"></label>
          <input type="text" class="form-control" [(ngModel)]="selectedUsuario.ws" name="ws" placeholder="WhatsApp"required>
        </div>
        <div class="col-md-2">
          <label for="inputAddress" class="form-label"></label>
          <input type="text" class="form-control" [(ngModel)]="selectedUsuario.ig" name="ig" placeholder="Instagram"required>
        </div>
        <div class="col-md-2">
          <label for="inputAddress" class="form-label"></label>
          <input type="text" class="form-control" [(ngModel)]="selectedUsuario.tw" name="tw" placeholder="Twitter"required>
        </div>
        <div class="col-md-3">
          <label for="inputAddress" class="form-label"></label>
          <input type="text" class="form-control" [(ngModel)]="selectedUsuario.tt" name="tt" placeholder="tiktok"required>
        </div>

        <div class="col-md-4">
          <label for="inputState" class="form-label">Sexo</label>
          <select id="inputState" class="form-select" [(ngModel)]="selectedUsuario.sexo" name="sexo"required>
            <option value="Hombre">Hombre</option>
            <option value="Mujer">Mujer</option>
          </select>
        </div>
    <div class="col-md-4">
      <label for="inputState" class="form-label">red social favorita</label>
      <select id="inputState" class="form-select" [(ngModel)]="selectedUsuario.fav" name="fav"required>
        <option value="facebook">facebook</option>
        <option value="twitter">Twitter</option>
        <option value="whatsapp">WhatsApp</option>
        <option value="instagram">Instagram</option>
        <option value="tiktok">tiktok</option>
      </select>
    </div>

      <div class="col-6">
        <button type="submit" class="btn btn-primary r-3" (click)="guardar()">Enviar</button>
        <button type="submit" class="btn btn-secondary" (click)="limpiar()">limpiar</button>
      </div>
    
  </form>

  <div>
      <p>Estadisticas</p>

      <p *ngFor=""></p>
  </div>


</div>


