
<div class="container">

  <form>
    <div class="form-group row">
      <label for="text" class="col-4 col-form-label">email</label> 
      <div class="col-8">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fa fa-address-card"></i>
            </div>
          </div> 
          <input id="text" name="text" type="text" class="form-control">
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="text1" class="col-4 col-form-label">edad</label> 
      <div class="col-8">
        <input id="text1" name="text1" type="text" class="form-control">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-4">Sexo</label> 
      <div class="col-8">
        <div class="custom-control custom-radio custom-control-inline">
          <input name="radio" id="radio_0" type="radio" class="custom-control-input" value="Hombre"> 
          <label for="radio_0" class="custom-control-label">Hombre</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input name="radio" id="radio_1" type="radio" class="custom-control-input" value="Mujer"> 
          <label for="radio_1" class="custom-control-label">Mujer</label>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-4">Checkboxes</label> 
      <div class="col-8 aling-items-center">
        <div class="custom-control custom-checkbox custom-control-inline">
          <input name="checkbox" id="checkbox_0" type="checkbox" class="custom-control-input" value="facebook"> 
          <label for="checkbox_0" class="custom-control-label">Facebook</label>
        </div>
        <div class="custom-control custom-checkbox custom-control-inline">
          <input name="checkbox" id="checkbox_1" type="checkbox" class="custom-control-input" value="whatsapp"> 
          <label for="checkbox_1" class="custom-control-label">WhatsApp</label>
        </div>
        <div class="custom-control custom-checkbox custom-control-inline">
          <input name="checkbox" id="checkbox_2" type="checkbox" class="custom-control-input" value="twiiter"> 
          <label for="checkbox_2" class="custom-control-label">Twitter</label>
        </div>
        <div class="custom-control custom-checkbox custom-control-inline">
          <input name="checkbox" id="checkbox_3" type="checkbox" class="custom-control-input" value="instagram"> 
          <label for="checkbox_3" class="custom-control-label">Instagram</label>
        </div>
        <div class="custom-control custom-checkbox custom-control-inline">
          <input name="checkbox" id="checkbox_4" type="checkbox" class="custom-control-input" value="tiktok"> 
          <label for="checkbox_4" class="custom-control-label">Tiktok</label>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="text2" class="col-4 col-form-label">Tiempo Promedio Facebook</label> 
      <div class="col-8">
        <input id="text2" name="text2" type="text" class="form-control">
      </div>
    </div>
    <div class="form-group row">
      <label for="text3" class="col-4 col-form-label">Tiempo Promedio WhatsApp</label> 
      <div class="col-8">
        <input id="text3" name="text3" type="text" class="form-control">
      </div>
    </div>
    <div class="form-group row">
      <label for="text4" class="col-4 col-form-label">Tiempo Promedio Twitter</label> 
      <div class="col-8">
        <input id="text4" name="text4" type="text" class="form-control">
      </div>
    </div>
    <div class="form-group row">
      <label for="text5" class="col-4 col-form-label">Tiempo promedio Instagram</label> 
      <div class="col-8">
        <input id="text5" name="text5" type="text" class="form-control">
      </div>
    </div>
    <div class="form-group row">
      <label for="text6" class="col-4 col-form-label">tiempo Promedio Tiktok</label> 
      <div class="col-8">
        <input id="text6" name="text6" type="text" class="form-control">
      </div>
    </div> 
    <div class="form-group row">
      <div class="offset-4 col-8">
        <button name="submit" type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</div>